<%- include('./partials/header.ejs') %>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs', {page_name: 'Service'}) %>
        </div>

        <div class="col-sm-10">
            <!-- Main Content -->
            
            <div class="container mt-5">
                <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

                <div class="row text-center text-white mb-5">
                    <!-- First row -->
                    <div class="col-sm-4">
                        <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
                        <h3>SEO</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-palette fa-2x mb-3 i-color"></i>
                        <h3>Web Design</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-code fa-2x mb-3 i-color"></i>
                        <h3>Web Development</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>

                    <!-- Second row -->
                    <div class="col-sm-4">
                        <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
                        <h3>Android</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
                        <h3>IOS</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-ad fa-2x mb-3 i-color"></i>
                        <h3>Adventising</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>

                    <!-- Third row -->
                    <div class="col-sm-4">
                        <i class="fa-solid fa-paintbrush fa-2x mb-3 i-color"></i>
                        <h3>Logo Design</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
                        <h3>Hosting</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-headset fa-2x mb-3 i-color"></i>
                        <h3>Support</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas libero repellendus maiores ab doloremque nam corporis explicabo impedit error.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>